img {
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}

.content {
    max-width: 2000px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    background-color: lightgreen;
}